/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */
/* .text{
    text-align: center;
    color:rebeccapurple;
} */
.avatar{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
header{
    background-color:#FCF8F3;
    
}
header Nav {
    background-color:#FCF8F3;
}
.position{
    position: relative;
    z-index: 10;
}

.circle{
    font-size: 30px;
    color:#F5E0AE;
}

.navbar{
    background-color:#FCF8F3;
}
.card-button{
    width: 200px;
    height: 50px;
    background-color: #E89F71    ;
}
.card-shop b{
    font-size: 30px;
}
.card-shop{
    background-color: white;
    text-align: center;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 170px;
    left: 470px;
  /* height: 200px; */
}
.card-Bohauss{
    background-color: white;
    position: absolute;
    width: 200px;
    height: 100px;
    top: 430px;
    right: 90px;
}
.Bohauss{
    font-size: 20px;
}
.price{
    font-size: 15px;
}
.arrow{
    position: absolute;
    right: 0px;
    font-size: 20px;
}
.icon i {
    font-size: 40px;
}
.title{
    font-size: 30px;
    text-align: center;
}
